*{ 
  margin-top: 147;
  padding-left: 452;
}

.Box {
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
text-align: center;
width: 489px;
height: 473px;
flex-shrink: 0;
border-radius: 30px;
background: #ffffff;
box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47),30px -20px 100px -5px #152cc1;
}

.btn {
  background-color: #2b2b2b;
  color: white;
  border: 5px solid #ffffff;
  padding: 3% 3%;
}